# Ignore all C-Object files, since they are architecture specific
*.o

# Ignore plattform-specific file with error codes
*.c.inc

# Ignore strace output files
*.strace

# Ignore this directory (it contains 'inspirational' souce code on a local machine)
unfinished/
