# Ignore all C-Object files, since they are architecture specific
*.o

# Ignore plattform-specific file with error codes
*.c.inc

# Ignore strace output files
*.strace

# Ignore this directory (it contains 'inspirational' souce code on a local machine)
unfinished/

# Ignore binary (executable) files
*.bin

# Ignore .swp files for open files in vim
*.swp

# Ignore the sensitive data stored in the user-defined config file
# This file should not be uploaded to a public git repo, since it might
# contain sensitive IP addresses, ports, and so on
userConfig.h

# Ignore any files created by server to handle chat (*.chat file extension)
*.chat
