# PORT is the port on which the server is listening for new clients
PORT 7722
# HOST is the IP-address of the server, e.g. localhost if it is being hosted on the same computer
HOST localhost
# the USERNAME that the user will used during a chat session
USERNAME max_mustermann
# the KEY provided by the administrator of the server, without this key it is impossible to authenticate into a chat session
KEY 9dc44490ce458b82b21cbbfa2b0c5fd9c1e792a3916a4ad034e30196a46ec9d048ec0d6d99eba935d8bf644d2c0320d414dad0c2e728a622ab1c3d0d4a263917
